/* .hero-page{
    background-image: url("../../assets/logistics-truck01.jpeg");
    height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    border: 1px solid red;
}
.about-info{
    text-align: left;
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-top: 20%;
    padding-left: 40px;
    font-size: 25px;
    width: 40%;
} */
