.sign-up-section {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/slider2.png");
    /* background-position: 100vh; */
    background-repeat: no-repeat;
    height: 900px;
    /* height: 100vh; */

}

.signup-container{
    margin: 10rem 20rem auto;
    justify-content: space-between;

}

.signup-container form{
    max-width: 100%;
    width: 100%;
    text-align: center;    
    color: rgb(92, 89, 89);
}

.signup-container input{
    width: 80%;
    box-sizing: content-box;
    box-shadow: 0 0px 0px 0px solid rgb(226, 226, 226);
    /* width: 60%; */
    border-color: #aaa;
    border-style: solid;
    margin: 1% 0%;
    /* height: 30px; */
    border-bottom: 1px solid #aaa; 
    background-color: silver;
    font-size: 1.0rem;
    border-radius: 8px; 
    padding: 10px 10px 10px 10px;
}
.footer {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    width: 50%;
}

.footer .footer-text {
    margin-right: 45%;
}

#btn {

}

#btn button {
    background-color: #ff484e;
    
}

#btn button :hover {
    /* color: #002a34; */
    color: green;
}